<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-9">
            <div class="card">
                <div class="card-header">
                    <h3>Registro al sistema de la empresa {{ title }}</h3>
                    <div class="card-body">
                        <form [formGroup]="formulario" (ngSubmit)="enviarDatos()">
                            <div class="row">
                                <div class="col d-flex justify-content-between">
                                    <div class="mb-3">
                                        <label for="" class="form-label">Name</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            name=""
                                            id=""
                                            aria-describedby="helpId"
                                            placeholder=""
                                            formControlName="nombre"
                                            />
                                        <div *ngIf="formulario.controls['nombre'].errors?.['required'] && formulario.get('nombre')?.touched" class="alert alert-danger">
                                            Campo Obligatorio
                                        </div>
                                        <div *ngIf="formulario.controls['nombre'].errors?.['pattern'] && formulario.get('nombre')?.touched" class="alert alert-danger">
                                            Solo Letras y Sin Espacios
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="" class="form-label">Age</label>
                                        <input
                                            type="number"
                                            class="form-control"
                                            name=""
                                            id=""
                                            aria-describedby="helpId"
                                            placeholder="" formControlName="edad"
                                            />
                                            <div *ngIf="formulario.controls['edad'].errors?.['required'] && formulario.get('edad')?.touched" class="alert alert-danger">
                                                Campo Obligatorio
                                            </div>
                                            <div *ngIf="formulario.controls['edad'].errors?.['min'] && formulario.get('edad')?.touched" class="alert alert-danger">
                                                Solo Mayores de 18 años
                                            </div>
                                            <div *ngIf="formulario.controls['edad'].errors?.['max'] && formulario.get('edad')?.touched" class="alert alert-danger">
                                                Fuera del rango de Edad
                                            </div>
                                    </div>
                                     <div class="mb-3">
                                        <label for="" class="form-label">Phone</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            name=""
                                            id=""
                                            aria-describedby="helpId"
                                            placeholder="" formControlName="telefono"
                                            />
                                            <div *ngIf="formulario.controls['telefono'].errors?.['required'] && formulario.get('telefono')?.touched" class="alert alert-danger">
                                                Campo Obligatorio
                                            </div>
                                            <div *ngIf="formulario.controls['telefono'].errors?.['minlength'] && formulario.get('telefono')?.touched" class="alert alert-danger">
                                                Requerido 10 numeros
                                            </div>
                                            <div *ngIf="formulario.controls['telefono'].errors?.['maxlength'] && formulario.get('telefono')?.touched" class="alert alert-danger">
                                                Requerido 10 numeros
                                            </div>
                                    </div>
                                </div>
                                <div class="col d-flex justify-content-between">
                                   
                                    <div class="mb-3">
                                        <label for="" class="form-label">Address</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            name=""
                                            id=""
                                            aria-describedby="helpId"
                                            placeholder="" formControlName="direccion"
                                            />
                                            <div *ngIf="formulario.controls['direccion'].errors?.['required'] && formulario.get('direccion')?.touched" class="alert alert-danger">
                                                Campo Obligatorio
                                            </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="" class="form-label">City</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            name=""
                                            id=""
                                            aria-describedby="helpId"
                                            placeholder="" formControlName="ciudad"
                                            />
                                            <div *ngIf="formulario.controls['ciudad'].errors?.['required'] && formulario.get('ciudad')?.touched" class="alert alert-danger">
                                                Campo Obligatorio
                                            </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="" class="form-label">State</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            name=""
                                            id=""
                                            aria-describedby="helpId"
                                            placeholder="" formControlName="estado"
                                            />
                                            <div *ngIf="formulario.controls['estado'].errors?.['required'] && formulario.get('estado')?.touched" class="alert alert-danger">
                                                Campo Obligatorio
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-between">
                                    
                                    <div class="mb-3">
                                        <label for="" class="form-label">Country</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            name=""
                                            id=""
                                            aria-describedby="helpId"
                                            placeholder="" formControlName="pais"
                                            />
                                        <div *ngIf="formulario.controls['pais'].errors?.['required'] && formulario.get('pais')?.touched" class="alert alert-danger">
                                            Campo Obligatorio
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="" class="form-label">Postal
                                            Code</label>
                                        <input
                                            type="number"
                                            class="form-control"
                                            name=""
                                            id=""
                                            aria-describedby="helpId"
                                            placeholder="" formControlName="codigoPostal"
                                            />
                                            <div *ngIf="formulario.controls['codigoPostal'].errors?.['required'] && formulario.get('codigoPostal')?.touched" class="alert alert-danger">
                                                Capo Obligatorio
                                            </div>
                                            <div *ngIf="formulario.controls['codigoPostal'].errors?.['pattern'] && formulario.get('codigoPostal')?.touched" class="alert alert-danger">
                                                Solo Numeros
                                            </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="cumple">Fecha de nacimiento:
                                        </label>
                                        <input
                                            type="date"
                                            name="cumple"
                                            id="cumple"
                                            class="form-control"
                                            aria-describedby="helpId" formControlName="fecha"
                                            />
                                            <div *ngIf="formulario.controls['fecha'].errors?.['required'] && formulario.get('fecha')?.touched" class="alert alert-danger">
                                                Campo Obligatorio
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-between">

                                    <div class="row">
                                        <div class="col d-flex
                                            justify-content-between">
                                            <div class="mb-3">
                                                <label for=""
                                                    class="form-label">Email</label>
                                                <input
                                                    type="email"
                                                    class="form-control"
                                                    name=""
                                                    id=""
                                                    aria-describedby="emailHelpId"
                                                    formControlName="email"
                                                    />
                                                    <div *ngIf="formulario.controls['email'].errors?.['required'] && formulario.get('email')?.touched" class="alert alert-danger">
                                                        Campo Obligatorio
                                                    </div>
                                                    <div *ngIf="formulario.controls['email'].errors?.['email'] && formulario.get('email')?.touched" class="alert alert-danger">
                                                        No es un Email
                                                    </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for=""
                                                    class="form-label">Password</label>
                                                <input
                                                    type="password"
                                                    class="form-control"
                                                    name=""
                                                    id=""
                                                    placeholder=""
                                                    formControlName="password">
                                                    <div *ngIf="formulario.controls['password'].errors?.['required'] && formulario.get('password')?.touched" class="alert alert-danger">
                                                        El password se requiere
                                                    </div>
                                                    <div *ngIf="formulario.controls['password'].errors?.['pattern'] && formulario.get('password')?.touched" class="alert alert-danger">
                                                        El password debe contener al menos una letra mayúscula una minúscula y un numero
                                                    </div>
                                                    <div *ngIf="formulario.controls['password'].errors?.['minlength'] && formulario.get('password')?.touched" class="alert alert-danger">
                                                        El password debe contener minimo 8 caracteres
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="" class="form-label">Confirm Password</label>
                                        <input
                                            type="password"
                                            class="form-control"
                                            name=""
                                            id=""
                                            placeholder=""
                                            formControlName="confirmaPassword">
                                            <div *ngIf="formulario.controls['confirmaPassword'].getError('noSonIguales') != null && formulario.get('confirmaPassword')?.touched" class="alert alert-danger">
                                                Los password deben ser iguales
                                            </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit"
                                        [disabled]="!formulario.valid"
                                        class="btn btn-primary">Registrar</button>
                                </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>