<div class="container">
  <form [formGroup]="useForm" (ngSubmit)="acceso()">
    <div class="row">

      <div class="col-2"></div>
      <div class="col8">
        <div class="card">
          <div class="card-header">
            Acceso al sistema de {{title}}
          </div>
          <div class="card-body">
            <div class="form-floating mb-3">
              <input type="email" formControlName="usuario" class="form-control" id="floatingInput" placeholder="Email">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
              <input type="password" fomrControlName="password" class="form-control" id="floatingPassword"
                placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
          </div>
          <div class="card-footer text-muted">
            <button class="btn btn-primary" type="submit">Login</button>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>